<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gen 1 pokemon</title>
</head>
<body>
    <h1>gotta catch em all</h1>
    <% for(let i = 0; i < pokemon.length; i++) { %>
        <a href="/pokemon/<%=i%>" style="text-decoration:none;">
        <img style="height:125px; width:125px;" src=<%= pokemon[i].img %>
    </a>
   <% } %>
</body>
</html>